USE_AUTH=false # Use authentication for audio downloads. Set to true if your audio server requires authentication. Make sure to set AUTH_TOKEN below as well if you set this to true.

AUTH_TOKEN=your_token_here # The token to use for authentication when downloading audio. This should be in the format expected by your audio server, such as a Bearer token. Bearer tokens for example should be in the format "dGVzdDp0ZXN0" which is the base64 encoding of "test:test", with a colon separating the username and password. This is just an example token and should be replaced with your actual token. Useful for EAS_Listener.
